<div class="product-item">
    <h3>{{text-format prod.prodTitle}}</h3>
    <p><img src="{{prod.prodImage}}"/></p>
    <h4>Description</h4>
    <p>{{prod.desc}}</p>
    <h3>Price</h3>
    <p>{{currency-format prod.price}}</p>
    <button id="addToCart" {{ action 'addToCart' prod }}>Add Product</button>
</div>

{{yield}}